@page "/"

<div class="text-center">
    <h3 class="display-4">Добре дошли!</h3>
    <p>Надяваме се Матурник да ви помогне за бъдещите ви изпити или матури. При намрането на бъг или при желание за обратна връзка, моля свържете се с нас, като това може да стане през менюто за контакти.</p>
    <br />
    <p>Екипът на Матурник ви пожелава приятен ден! </p>
</div>