@using Application.Exams.Queries.ExamsAll

<a 
   class="btn container col-md-5 mr-1 mb-2 card-button" style="color: white;" href="AllExams/@ExamType.ExamTypeUrl/@ExamType.YearOfCreation">
    @ExamType.YearOfCreation
</a>

@code {
    [Parameter] public ExamViewModel ExamType { get; set; }
}
